:root {
 --danger-fg-color:rgb(153, 27, 27);
 --danger-bg-color:rgb(254, 242, 242);
 --border-color:rgb(229, 231, 235);
 --text-enfasis-color:rgb(17, 24, 39);
 --text-primary-color: rgb(79, 70, 229);
 --primary-color: rgb(99, 102, 241);
}

